@import 'colors/catppuccin-mocha.css';

* {
  all: unset;
}

window#waybar {
  color: @text;
  /* border-radius: 0 0 10px 10px; */
}

#workspaces {
  min-width: 100px;
  font-size: 0.4rem;
  padding: 2px 4px;
  margin: 11px;
  border-radius: 99px;
}

#workspaces button {
  background-color: @surface-1;
  color: transparent;
  padding: 0px 5px;
  border-radius: 99px;
  margin: 3px 2px;
  min-width: 10px;
}

#workspaces button.active {
  background-color: @green;
  min-width: 1.7rem;
  transition: all 200ms ease-in-out;
}

.modules-right {
  margin-right: 5px;
}

.modules-left,
.modules-center,
#apps,
#hardware,
#power {
  border-radius: 100px;
  background-color: @crust;
  padding: 5px 8px;
  margin: 5px 3px 0px;
  color: @text;
}

#tray,
#network,
#pulseaudio,
#clock,
#custom-shutdown,
#custom-reboot,
#custom-suspend,
#custom-logout {
  color: @text;
  font-size: 0.9rem;
  margin: 0px 2px;
  padding: 0 10px;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Distinct hover colors for each action */
#custom-shutdown:hover {
  background-color: @red;
  color: @base;
}

#custom-reboot:hover {
  background-color: @peach;
  color: @base;
}

#custom-suspend:hover {
  background-color: @blue;
  color: @base;
}

#custom-logout:hover {
  background-color: @mauve;
  color: @base;
}

#network:hover,
#network.ethernet:hover,
#pulseaudio:hover {
  background-color: @green; /* Slightly deeper tone */
  color: @base;
}

#network.ethernet {
  color: @green;
}

#network.disconnected {
  color: @red;
}

tooltip label {
  padding: 10px;
  background-color: @base;
  color: @text;
  font-size: 0.8rem;
  border-radius: 10px;
}
